Documentation - Requirements

Install Python 3. This project was built using Python 3.9, so that is recommended if possible. When installing Python, be sure to check the "Add Python 3.x to PATH" box.

Ensure that the following Python packages are installed:

- opencv-python
- tkinter
- pillow
- os
- csv
- numpy
- math
- argparse
- datetime
- shutil
- matplotlib
- ttkthemes

You can do this automatically by running the install_dependencies.bat file in the Target-Analysis-main directory.